.pimcore_icon_data_group_permissionToolkit {
    background: url("/pimcore/static6/img/flat-color-icons/keys.svg") center center no-repeat !important;
}

.pimcore_icon_permissionResource, .pimcore_icon_permission_resource {
    background: url("/pimcore/static6/img/flat-color-icons/key.svg") center center no-repeat !important;
}

.pimcore_icon_permissionObjects, .pimcore_icon_permission_objects {
    background: url("/pimcore/static6/img/flat-color-icons/objects.svg") center center no-repeat !important;
}

.pimcore_icon_permissionObjects:before, .pimcore_icon_permission_objects:before,
.pimcore_icon_permissionHref:before, .pimcore_icon_permission_href:before {
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 0px;
    right: 0px;
    content: "";
    background: url(/pimcore/static6/img/flat-color-icons/key.svg) center center no-repeat !important;
}


.pimcore_icon_permissionHref, .pimcore_icon_permission_href {
    background: url("/pimcore/static6/img/flat-color-icons/href.svg") center center no-repeat !important;
}